#timer {
    display: flex;
    justify-content: flex-end;

}

#option-list {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none; 
}

#question {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}